.form-container {
  display: flex;
  justify-content: space-between;

  & a {
    color: var(--green-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.secondary {
  color: #6a6a6a;
}

.col {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 1rem;
  font-weight: 700;
  overflow-wrap: anywhere;
  min-width: 300px;

  &form {
    padding-left: 2rem;
    border-left: 2px solid silver;
    min-width: 350px;

    & h2 {
      font-size: 1.25rem;
    }
  }
}

.button {
  background-color: var(--green-color);
}

:global(.md) {
  & .col {
    padding-right: 0;
    min-width: auto;
  }

  & .form-container {
    flex-direction: column;
    gap: 2rem;

    & form {
      padding-top: 2rem;
      padding-left: 0;
      border-top: 2px solid silver;
      border-left: unset;
    }
  }
}
