.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;

  & h1 {
    color: var(--primary-color);
  }
}

.logo {
  min-width: 200px;
  width: 25%;
  max-width: 400px;
  flex-grow: 1;
  height: 25%;
  margin: auto 0;
}

.link {
  margin-top: -0.75rem;
  margin-bottom: 0.5rem;
  text-align: right;
  font-weight: normal;
}

:global(.md) {
  & .container {
    flex-direction: column;
    gap: 2rem;
  }

  & .column {
    width: 75%;
  }

  & .logo {
    width: 50%;
    max-width: 500px;
    margin: auto;
  }
}

:global(.sm) {
  & .column {
    width: 100%;
  }
}
