.Alert {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: #198754;
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  color: snow;

  &[error] {
    background-color: #dc3545;
  }
}

.Button {
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: border-color 0.1s;

  &:hover {
    border-color: #555;
  }
}

.CategoryScroller {
  position: sticky;
  top: 4rem;
  margin: -1rem -1.5rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: var(--background-color);
  overflow-x: auto;
  z-index: 100;

  & button {
    padding: 0.5rem;
    background: none;
    color: grey;
    border: none;
    border-bottom: 4px transparent solid;
    border-radius: 0;
    font-weight: 800;
    transition-property: color, border;

    &:global(.selected), &:hover {
      color: #292929;
      border: none;
      border-bottom: 4px orange solid;
    }
  }
}

.Input {
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: #D9D9D9;
  border: 2px solid transparent;
  width: stretch;

  &:focus-visible {
    outline: darkgray auto 1px;
  }
}

.Password {
  position: relative;

  & input {
    width: stretch;
  }

  & button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.Search {
  flex-grow: 1;
  position: relative;

  & button {
    margin: 0.25rem;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.SortBy {
  margin: 1.5rem -0.5rem;
  margin-bottom: -0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #0000000f;
  }
}
