.form {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem 0.25rem;
}

.buttons {
  display: flex;
  gap: 0.25rem;

  & > button {
    padding: 0.45rem 1.2rem;
    flex-grow: 1;
  }
}

.editor, .input, .toolbar {
  background-color: #fdfdfd;
  border-color: #ddd;
}

.input {
  flex-grow: 1;
  width: auto;
  border-width: 1px;
  border-style: solid;
}

.editor {
  padding: 0 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  font-family: Arial, sans-serif;
  font-size: initial;
  font-weight: initial;
  line-height: initial;
}

.toolbar {
  position: sticky;
  top: 4rem;
  z-index: 100;
}

:global(.md) {
  & .form {
    flex-wrap: wrap;
    width: 100%;
  }

  & .buttons {
    flex-grow: 1;
  }
}

:global(.public-DraftStyleDefault-ltr) {
  text-align: inherit !important;
}
