.layout-container {
  position: relative;
  margin-left: var(--nav-width);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.titlebar {
  position: sticky;
  top: 0;
  padding: 1.25rem 2rem;
  background-image: url(/banner.png);
  background-position-y: center;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.675rem;
  font-weight: 700;
  z-index: 100;

  & button {
    padding: 1rem;
    margin: -1.5rem -1rem;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;

    &[data-menu] {
      margin: -1.5rem -1rem;
      margin-right: 0;
      display: none;
    }
  }

  & h1 {
    flex-grow: 1;
    max-width: 55vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.overlay {
  background-color: #0000005f;
  position: fixed;
  inset: 0;
  animation-name: fadein;
  animation-duration: .35s;
  z-index: 200;
}

.content-container {
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1}
}

:global(.md) .content-container {
  margin: 0;
}

:global(.sm) {
  & .layout-container {
    margin-left: 0;
  }

  & .content-container {
    padding: 1.5rem;
  }

  & .titlebar {
    padding: 1.25rem 1.5rem;

    & button[data-menu] {
      display: block;
    }

    & h1 {
      max-width: 65vw;
    }
  }
}
